.map-pin svg path {
    fill: #CF995F;
}

.groups-list ul{
    padding: 28px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.groups-list ul li{
    background: #FFFFFF;
    border: 1px solid #EBEFF2;
    padding: 26px 19px 33px;
    flex: 0 1 calc(25% - 25px);
    margin: 12px;
    position: relative;
    min-height: 255px;
}
.groups-list ul li header div{
    background: #CF995F;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.groups-list ul li header div{
    background: #CF995F;
    border: 2px solid #FFFFFF;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
}
.groups-list ul li .groups-list__body h2{
    font-family: BrownStdBold;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    color: #587B7F;
    margin-top: 18px;
}
.groups-list ul li .groups-list__body span{
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 9px;
    line-height: 24px;
    color: #98999B;
    text-transform: uppercase;
}
.groups-list ul li .groups-list__body > div span:nth-child(2){
    position: relative;
    margin: 0 7px;
    top: -3px;
}
.groups-list ul li .groups-list__body p{
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #231F20;
}
.groups-list__progress-bar{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #4F6880;
    margin-top: 14px;
}
.groups-list__progress-bar label{
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.01em;
    color: #587B7F;
}
.groups-list__progress-bar > div{
    margin-top: 9px;
}
.groups-list__progress-bar > div > div{
    height: 3px;
    background: #DBDEE1;
}
.groups-list__progress-bar > div > div > div{
    background: #587B7F;
}
.groups-list ul li .actions{
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.groups-list ul li .actions.active{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.groups-list ul li .actions.active .actions__content > svg{
    position: relative;
    left: 19px;
    top: -3px;
    cursor: default;
}
.groups-list ul li .actions .actions__toggle{
    background: transparent;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.groups-list ul li .actions.active .actions__toggle{
    background: rgba(98, 119, 139, 0.12);
}
.groups-list ul li .actions.active .actions__content{
    position: relative;
}
.groups-list ul li .actions.active .actions__content > div{
    position: absolute;
    right: 30px;
    top: 26px;
}
.groups-list ul li .actions.active .actions__content > div > div{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.groups-list ul li .actions.active .actions__content > div > div > span{
    position: relative;
    left: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #4F6880;
}
.tab__content header{
    display: flex;
    align-items: center;
    margin: 27px 0;
}
.tab__content header .image{
    width: 100%;
    max-width: 80px;
    height: 80px;
    background-color: #D3E9F6;
    border-radius: 50px;
    margin-right: 22px;
}
.tab__content header button{
    background: #109CF1;
    border-radius: 4px;
    color: #fff;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 9px 24px;
}
.tab__content header p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    font-feature-settings: 'liga' off;
    color: rgba(74, 108, 140, 0.56);
    margin: 3px 0 0 0;
}
.tab__content p{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 150%;
    color: #4F6880;
    margin: 9px 0 19px;
}
.tab__content-body{
    text-align: center;
    margin-top: 77px;
}
.tab__content-body > label{
    font-family: InterSemibold;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #98999B;
}
.tab__content-body .actions{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.tab__content-body .actions svg{
    cursor: pointer;
}
.tab__content-body .actions .right svg circle {
    fill: #CF995F;;
}
.tab__content-body .actions > span{
    margin: 0 52px;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 24px;
    text-align: center;
    color: #231F20;
}
.tab__content-body .type{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 50px;
    width: 100%;
    max-width: 321px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    margin-top: 32px;
}
.tab__content-body .type span{
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    text-align: center;
    color: #D0D0CE;
    cursor: pointer;
}
.tab__content-body .type span:nth-child(1){
    border-right: 1px solid rgba(120, 127, 157, 0.2);
    padding-right: 39px;
    margin-right: 39px;
    line-height: 27px;
}
.tab__content-body .type span.active{
    font-family: InterSemibold;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    color: #CF995F;
}
.tab__content footer label{
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: rgba(74, 108, 140, 0.56);
}
.share__container{
    background: #F5F6F8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 7px 7px 18px;
}
.share__container > div{
    display: flex;
    align-items: center;
}
.share__container > div span{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #738293;
    margin-left: 15px;
}
.share__container button{
    background: #109CF1;
    border-radius: 4px;
    font-style: normal;
    font-weight: 600;
    padding: 9px 20px;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
}
.tab__content footer{
    position: absolute;
    bottom: 98px;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.tab__content footer > div{
    padding: 0 30px;
}

@media (max-width: 1023px) {
    .groups-list ul li{
        flex: 0 1 calc(33.33333% - 25px);
    }
}

@media (max-width: 768px) {
    .groups-list ul li{
        flex: 0 1 calc(50% - 25px);
    }
}

@media (max-width: 767px) {
    .groups-list ul li{
        flex: 0 1 calc(100% - 25px);
    }
    .groups-list ul{
        padding: 0;
    }
    .tab__content footer .share__container button{
        position: absolute;
        right: 6px;
    }
    .tab__content footer .share__container{
        padding: 14px 7px 14px 18px;
    }
    .tab__content footer .share__container{
        overflow: hidden;
    }
    .tab__content footer > div{
        padding: 0;
    }
    .tab__content footer{
        width: 90%;
    }
}
@media (max-width: 425px) {
    .share__container > div span{
        overflow: hidden;
        width: 75%;
    }
}
@media (max-width: 375px) {
    .share__container > div span{
        width: 50%;
    }
}

section.invites > h5 {
    font-size: 12px;
    line-height: 150%;
    color: #4F6880;
    padding: 15px 0px;
}
section.invites li div.member-item {
    display: flex;
    padding: 8px 0px;
    align-items: center;
}
section.invites li div.member-item img{
    height: 40px !important;
    width: 40px !important;
    margin-right: 10px;
}
section.invites li div.member-item h4{
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 150%;
    flex-grow: 1;
    align-items: center;
    color: #4F6880;
}
section.invites li div.member-item button.invite-button{
    border: 1.5px solid #CF995F;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: InterMedium;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    padding: 8px 15px;
    color: #CF995F;
}
section.invites li div.member-item button.invite-button.invited{
    background: #41D48F;
    border: 0;
    color: #fff;
}
section.invites li div.member-item button.invite-button.denied{
    background: #f56565;
    border: 0;
    color: #fff;
}

.group-view {
    width: 544px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #E7EAEF;
    height: 100%;
}

.group-view .group-img {
    border: 2px solid #FFFFFF;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.08));
    border-radius: 40px;
    height: 80px;
    width: 80px;
}

.group-view .group-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
.group-view-details h2 {
    font-family: BrownStdBold;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 150%;
    color: #587B7F;
}
.group-view-details p {
    font-family: InterRegular;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: #231F20;
}
.view-buttons {
    display: flex;
    align-items: center;
    height: fit-content;
}
.view-buttons button.edit-btn {
    color: #CF995F;
    display: contents;
}
.member-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 12px 0px;
}
.member-cta label {
    color: #CF995F;
    font-family: InterRegular;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
}
.invite-button button {
    display: flex;
    align-items: center;
    border: 1.5px solid #CF995F;
    box-sizing: border-box;
    border-radius: 4px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #CF995F;
    padding: 8px 26px;
}
.member-list .tab-members {
    padding: 0;
}
.group-view svg path{
    fill: #CF995F;
}
.invite-button button svg path{
    stroke: #CF995F;
}

.group-form {
    width: 100%;
    max-width: 544px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    background: #FFFFFF;
    border: 1px solid #E7EAEF;
    /*padding: 29px;*/
    display: flex;
    flex-direction: column;
}
.group-header {
    margin-top: 29px;
}
.group-form > section {
    padding: 0 29px;
}
.group-body {
    margin-bottom: 15px;
    max-height: calc(100vh - 255px);
    height: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow: auto;
}
.group-body h3 {
    font-family: InterMedium;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 21px;
    letter-spacing: 0.01em;
    color: #98999B;
    margin: 10px 0;
}
.group-header, .group-footer {
    flex-shrink: 1;
}

.group-header h2 {
    margin-bottom: 14px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #3C5A77;
    font-family: BrownStdBold;
}

.group-header p {
     font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: rgba(74, 108, 140, 0.56);
    margin-top: 10px;
}
.group-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    box-sizing: border-box;
    left: 0;
    right: 0;
    padding: 15px 29px !important;
    border-top: 1.5px solid rgba(156, 174, 185, 0.2);
}
.group-footer button {
    padding: 15px 42px;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    border-radius: 4px;
    background-color: rgba(181, 193, 204, 0.12);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #91A5B7;
    outline: none;
}
.group-footer button.next {
    font-family: InterMedium;
    background-color: #CF995F;
    color: #fff;
}