.form.need-form {
	margin-right: auto;
	position: absolute;
	top: 0px;
	right: 0px;
	border: 1px solid rgba(231,234,239,1);
	background-color: #FFF;
	width: 600px; /* change this accordingly */
	height: 100%;
	display: flex;
	flex-direction: column;
}


/*Need info*/
.need-info {
	margin-right: auto;
    position: absolute;
    top: 0px;
    right: 0px;
    border: 1px solid rgba(231,234,239,1);
    background-color: #FFF;
    width: 430px;
    height: 100%;
}
.need-info .need-header {
    height: 60px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    display: inline-flex;
    padding: 0 20px;
    border-bottom: 1px solid #E6E7EF;
}
.need-info .need-title .need-img {
	margin: 20px 0px;
	height: 150px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.need-info .need-title h3{
	font-family: BrownStdBold;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 150%;
	color: #587B7F;
	display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.need-info .need-title h3 span{
	font-family: InterMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: #98999B;
	margin-top: 5px;
}
.need-info .need-title h5{
	font-family: InterRegular;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 24px;
	color: #CF995F;
}
.need-info .need-header .circlet{
	margin-right:20px;
}
.need-info .need-header button{
	color: #CF995F;
}
.need-info .need-header button i {
	margin-right: 5px;
}
.need-info .need-header button svg path {
	fill: #CF995F;
}
.need-info .need-header h4.need-status{
	flex:2 ;
	color:#7690A8;
}
.need-info .need-content, .need-info .need-footer {
	/*height: calc(100% - 60px);*/
	padding: 0 20px;
}
.need-info .need-footer {
    bottom: 0px;
    position: absolute;
    width: auto;
    padding: 20px;
}
.need-info .need-footer svg {
	margin-right: 5px;
}
.need-content .group-content {
	margin-bottom: 16px;
}
.need-content .group-content label{
	font-family: InterMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: 0.01em;
	color: #98999B;
}
.need-content .group-content p{
	font-size: 13px;
	line-height: 24px;
	color: #4F6880;
}
.need-content .group-content .need-map{
	width: 100%;
	height: 90px;
	background: rgba(255, 255, 255, 0.5);
	mix-blend-mode: normal;
	border-radius: 4px;
}
.action-content{
	width: 171px;
	height: auto;
	right: 0px;

	background: #FFFFFF;
	border: 1px solid #E7EBF3;
	box-sizing: border-box;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.05);
	border-radius: 4px;
}

header .filter-header .filter-need {
	/*padding*/
	width: 470px;
	height: auto;
}
.filter-need .filter-body {
	overflow-y: unset;
	overflow: unset;
	height: unset;
}

.filter-need .input-container .react-datepicker-wrapper:first-child {
	margin-right: 8px;
}

.action-content .button-container p {
	font-family: InterMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	line-height: 150%;
	text-align: center;
	color: #231F20;
	text-align: center;
}

.need-info .need-content .group-content .content-category {
	display: flex;
    align-items: center;
	flex-wrap: wrap;
	margin-top: 13px;
}

.need-info .need-content .group-content .content-category span.category {
	margin: 0 4px 8px 0;
}

.need-info .group-content .progress {
	display: block;
	margin-top: 21px;
}

.need-info .group-content .progress .bar {
	background: #587B7F;
	padding: 0 !important;
    height: 5.5px;
}

.need-info .group-content .progress > div {
	background: #EDF1F4;
}

.need-info .group-content .money span:first-child {
	font-family: InterMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #587B7F;
}

.need-info .group-content .money span:last-child {
	font-family: InterMedium;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	color: #231F20;
}

.need-img-container {
	margin: 20px 0px;
	height: 150px;
	background-color: #CF995F;
}
.unflex{
	flex: 1 1 auto !important;
}
/*
.icon-circle .icon-png {
	height: 20px;
	width: 20px;
	background-size: contain;
	background-position: center; 
}*/
.table tbody tr td.organisation {
	width: 300px;
}
.table tbody tr td.organisation p {
	width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}