APP_NAME=NeumaCare
APP_ENV=local
APP_KEY=base64:KWs75im7/8AbvWyQIZVqakSirHWOLNWpBKVXKUFq88o=
APP_DEBUG=true
APP_URL=http://neuma.test
MIX_APP_URL=http://neuma.test
ASSET_URL="${APP_URL}"

WORDPRESS_SITE=https://app.neuma.church
WORDPRESS_DOMAIN=app.neuma.church

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=neuma
DB_USERNAME=homestead
DB_PASSWORD=secret

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=database
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

#MAIL_MAILER=ses
MAIL_MAILER=smtp
MAIL_HOST=smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=955fd085627d39
MAIL_PASSWORD=4f35ec2a1ba027
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=info@lovelivesgenerously.demosite.ninja
MAIL_FROM_NAME="${APP_NAME}"
AWS_MAIL_REGION=llg-app-dev

AWS_ACCESS_KEY_ID=AKIA5QSRK2E7QSVBO37D
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=ap-southeast-2
AWS_BUCKET=llg-app-dev

MEDIA_DISK=s3

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

FILESYSTEM_DRIVER=s3

MIX_STRIPE_PUBLISHABLE_KEY=pk_test_51HPGbuGqQV7V41iCYHtZPLhQNJufatWH5UFMa8MOZDtRW3S6O6COTg9MjYWwN3ob8fNuQlnAyNRZMNJ5PwRHF7RH00s8YJN3rd
MIX_STRIPE_SECRET_KEY=sk_test_51HPGbuGqQV7V41iCoRrydNjBs2K9eG8LZqJyKgWWXqAH1DHT6IP57KmmZh1MLc9iKxHDF6NSMOjqMWDwUUSwcK5z00NUskkAIe

MIX_PLACESAUTOCOMPLETE_API_KEY=AIzaSyA69Y1g2fPTCldFFLANFGxs7Kf-WhMRviU

FCM_SERVER_KEY=AAAAFtpfLCQ:APA91bGry7Jk2Ft59Fk0WMpp09Y_cxHqtYe6dSp8PSJxpdl7plWNTKfme4MitITh_DqH4GxdEs5Bd9FOYNV5DrUIaAkJ32yzH4OSJdXUQJE_F_lb_NBLesMcSHhDCcl265tRsWY3zbLD
FCM_SENDER_ID=98152950820