.loading-container {
	position: absolute;
	background: #FFFFFFda;
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column;
    z-index: 100;
}
.loading-container .loading-screen {
	margin: auto;
	display: flex;
	flex-direction: column;
    align-items: center;
}

.loading-container .loading-screen .loading-bar {

}

.loading-container .loading-screen .loading-bar .bar {
	border: 1px solid #109CF1;
	height: 4px !important;
	width: 25px !important;
	margin-bottom: 4px;
}

.loading-bar .bar.bar1 {
	-webkit-animation: barfirst 3s infinite;
	animation: barfirst 3s infinite;
}
.loading-bar .bar.bar2 {
	-webkit-animation: barsecond 3s infinite;
	animation: barsecond 3s infinite;
}
.loading-bar .bar.bar3 {
	-webkit-animation: barthird 3s infinite;
	animation: barthird 3s infinite;
}

@keyframes barfirst {
	from {background-color: #fff;}
	23% {background-color: #fff;}
	25% { background-color: #109CF1 }
	to { background-color: #109CF1 }
}

@keyframes barsecond {
	from {background-color: #fff;}
	48% {background-color: #fff;}
	50% { background-color: #109CF1 }
	to { background-color: #109CF1 }
}
@keyframes barthird {
	from {background-color: #fff;}
	73% {background-color: #fff;}
	75% { background-color: #109CF1 }
	to { background-color: #109CF1 }
}


.loading-container .loading-screen .loading-title {
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.01em;
	color: #3C5A77;
}