.sideBarMobile__close{
    position: absolute;
    top: 15px;
    right: 15px;
}

.sidebar__mobile{
    position: absolute;
    z-index: 1;
    background-color: #fff;
    left: 0;
    top: 0;
    height: 100vh;
}
.mx-4.profile-details * {
    display: inline-block;
    max-width: 120px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}