* {
	font-family: 'Inter', 'Arial', sans-serif;
}
@media print {
	* {
    	-webkit-print-color-adjust: exact; 
	}
	body {
/*		min-height: unset !important;
		height: auto !important;*/
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
	}
	#printable {
        padding: 0 60px;
		width: 50%;
	}
	.header {
	    height: 80px;
	    margin: 0 auto;
	    display: flex;
	    align-items: center;
	    background-color: #587B7F;
	    justify-content: center;
	    align-content: center;
	}
}
